In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

import matplotlib.pyplot as pyplot
import pickle 
from matplotlib import style

#dataset: https://archive.ics.uci.edu/ml/datasets/Student+Performance

In [2]:
data = pd.read_csv("student_dataset/student-mat.csv", sep=";")

In [3]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [4]:
data = data[['G1','G2','G3','studytime','failures','absences']]
data.head()

   G1  G2  G3  studytime  failures  absences
0   5   6   6          2         0         6
1   5   5   6          2         0         4
2   7   8  10          2         3        10
3  15  14  15          3         0         2
4   6  10  10          2         0         4

In [5]:
predict = "G3"

In [6]:
x = np.array(data.drop(columns=predict))
y = np.array(data[predict])
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size=0.1)

In [7]:
# best = 0
# for _ in range(30):
#     x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size=0.1)
#     linear = linear_model.LinearRegression()
#     linear.fit(x_train,y_train)
#     acc = linear.score(x_test,y_test)
#     print(acc)
    
#     if acc > best:
#         best = acc 
#         with open("studentmodel.pickle","wb") as f:
#             pickle.dump(linear,f)
    
pickle_in = open("studentmodel.pickle","rb")
linear = pickle.load(pickle_in)

0.7880012198559574
0.8053112139009231
0.8266525807856047
0.7170487009087216
0.8699639641745923
0.8475432819980439
0.6452579105286245
0.917066038634429
0.8010969829824018
0.8236547282686578
0.7691456046377716
0.8683877430817353
0.8283557655363792
0.8248933265696974
0.7394260327740889
0.7811255709488322
0.8447307715657872
0.7597447953047004
0.8251897238225372
0.8114386612543835
0.8572838975122632
0.8059712894600686
0.7344487451777362
0.6558902020144977
0.7899990658337991
0.7967235896010098
0.8485701194244549
0.9242568399450785
0.8311435096541574
0.6007726380823619

In [8]:
print("coefficient: ",linear.coef_)

coefficient:  [ 0.1530133   0.98487672 -0.21964501 -0.1890846   0.03434761]

In [9]:
print("intercept: ",linear.intercept_)

intercept:  -1.4996366454994785

In [10]:
predictions = linear.predict(x_test)

for x in range(len(predictions)):
    print(predictions[x],x_test[x],y_test[x])

9.50866873373154 [10 10  2  0  2] 11
8.421254205358164 [ 7 10  4  1  2] 10
8.015806774252264 [10  9  4  0  0] 0
3.8879138547559826 [5 5 2 0 4] 6
9.577363949594526 [10 10  2  0  4] 10
14.64241445694682 [15 14  2  1 20] 13
8.572204002649706 [ 7 10  3  1  0] 10
6.348991297914433 [7 7 1 0 3] 8
15.129423612707097 [15 15  2  0  0] 15
7.164193479933136 [8 8 2 0 0] 9
4.88290256264692 [7 6 1 2 0] 0
13.026419978122698 [10 13  1  0 12] 12
12.822232639052336 [16 12  1  0  8] 13
4.162694718207926 [ 5  5  2  0 12] 5
15.351132130230553 [16 15  2  0  2] 15
14.894155729618067 [14 15  3  0  4] 16
9.250888920785654 [10 10  2  1  0] 0
5.7855246985256 [7 7 2 2 4] 9
11.71575355580397 [12 12  2  0  0] 11
15.351132130230553 [16 15  2  0  2] 15
11.782385267298022 [11 12  1  0  0] 10
15.129423612707097 [15 15  2  0  0] 15
8.304147003269778 [10  9  3  0  2] 9
8.59248723228729 [10  9  2  0  4] 11
8.96531074295263 [ 6 10  2  0  4] 10
11.68346945224141 [13 12  3  0  1] 12
10.120887136223773 [ 9 11  3  0  2] 11
7.77641188242537 [7 9 3 0 0] 8
10.493545451038774 [10 11  2  0  2] 11
7.677683911414597 [ 9  8  2  1 16] 7
11.310998981472249 [12 11  1  1 16] 12
5.1788171753841645 [7 6 2 0 4] 6
10.023882852703935 [10 10  2  0 17] 10
12.775364029248829 [13 12  1  0 20] 12
9.869831187349902 [12 10  3  0 10] 12
6.1378997837030145 [5 8 2 3 0] 7
10.919276111782258 [10 11  1  0  8] 10
9.204705634779526 [ 9 10  3  0  4] 10
6.950587007053249 [ 9  7  2  0 18] 6
9.37644367443699 [ 9 10  3  0  9] 9

In [ ]:
p = "G1"
style.use("ggplot")
pyplot.scatter(data[p],data["G3"])
pyplot.xlabel(p)
pyplot.ylabel("Final Grade")
pyplot.show()